<a href="https://colab.research.google.com/github/Josh-techie/AI-TPs/blob/master/%5CData_Cleaning%5CData_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import the necessary liibraries**

In [ ]:
import numpy as np
import pandas as pd

**I'll create my data then use it as exemple to apply some techniques of data cleaning**

In [ ]:
data = {'bacon': 'pig', 'eggs': 'chicken', 'milk': 'cow', 'chicken': 'chicken', 'beef': 'cow', 'turkey': 'turkey', 'pork': 'pig'}

In [ ]:
food_animal_df = pd.DataFrame(list(data.items()), columns=['food', 'animal'])

**Print the dataframe**

In [ ]:
print(food_animal_df)

      food   animal
0    bacon      pig
1     eggs  chicken
2     milk      cow
3  chicken  chicken
4     beef      cow
5   turkey   turkey
6     pork      pig

**Now let's try to add a column to our df**

In [ ]:
# Add a new column called "weight" with none values
food_animal_df = food_animal_df.assign(weight=None)

# Now display the df with the new column but it's not populated üò•

print(food_animal_df)

# How to drop a column/ligne
# axis=0 means to drop rows and axis=1 means to drop columns.
food_animal_df = food_animal_df.drop('source', axis=1)

      food   animal  source weight
0    bacon     slob    None   None
1     eggs  chicken    bird   None
2     milk      cow  mammal   None
3  chicken  chicken    bird   None
4     beef      cow  mammal   None
5   turkey   turkey    bird   None
6     pork     slob    None   None

In [ ]:
print(food_animal_df)

      food   animal weight
0    bacon     slob   None
1     eggs  chicken   None
2     milk      cow   None
3  chicken  chicken   None
4     beef      cow   None
5   turkey   turkey   None
6     pork     slob   None

**Let's populate the column weight that we just added**

In [ ]:
food_animal_df['weight'] = ["3.4 kg", "3.6 kg", "4,5 kg", "3.4 kg", "3.4 kg", "3.4 kg", "3.4 kg"]
# keep in mind the column has to have the same lines of the lines in the df, otherwise it'll throw an error

In [ ]:
print(food_animal_df)

      food   animal  weight
0    bacon     slob  3.4 kg
1     eggs  chicken  3.6 kg
2     milk      cow  4,5 kg
3  chicken  chicken  3.4 kg
4     beef      cow  3.4 kg
5   turkey   turkey  3.4 kg
6     pork     slob  3.4 kg

Let's replace pig in the animal column with *slob*

In [ ]:
food_animal_df["animal"] = food_animal_df["animal"].replace("pig", "slob")

In [ ]:
print(food_animal_df)

      food   animal
0    bacon     slob
1     eggs  chicken
2     milk      cow
3  chicken  chicken
4     beef      cow
5   turkey   turkey
6     pork     slob

**Create another Dataframe**

In [ ]:
purchases ={
    'ord_no': [70001, 70009, 70002, 70004, 70010, -1, 70006, 70007, 70012, 70011, 70013, 70003, 70008],
    'purch_amt': [155.98, 84.98, 249.98, 695.98, 90.98, 219.98, 115.98, 319.98, 188.98, 165.98, 175.98, 45.98, 109.98],
    'customer_id': [3002, 3001, 3003, 3002, 3001, 3004, 3003, -1, 3004, 3003, 3001, 3004, 3001],
    'sales_id': [1002, 1001, 1003, 1002, 1001, -1, 1003, 1002, 1004, 1003, 1001, 1004, 1001]
}

purchases_df = pd.DataFrame(purchases)

**Print the Dataframe, and visualize it üòÅ**

In [ ]:
print(purchases_df)
purchases_df.describe()

    ord_no  purch_amt  customer_id  sales_id
0    70001     155.98         3002      1002
1    70009      84.98         3001      1001
2    70002     249.98         3003      1003
3    70004     695.98         3002      1002
4    70010      90.98         3001      1001
5       -1     219.98         3004        -1
6    70006     115.98         3003      1003
7    70007     319.98           -1      1002
8    70012     188.98         3004      1004
9    70011     165.98         3003      1003
10   70013     175.98         3001      1001
11   70003      45.98         3004      1004
12   70008     109.98         3001      1001

             ord_no   purch_amt  customer_id     sales_id
count     13.000000   13.000000    13.000000    13.000000
mean   64621.923077  201.595385  2771.384615   925.076923
std    19416.772275  166.094621   832.998753   278.253620
min       -1.000000   45.980000    -1.000000    -1.000000
25%    70003.000000  109.980000  3001.000000  1001.000000
50%    70007.000000  165.980000  3002.000000  1002.000000
75%    70010.000000  219.980000  3003.000000  1003.000000
max    70013.000000  695.980000  3004.000000  1004.000000

**Now I only want to display the rows that contains positive values, if I have a negative value in any row I'll drop it !**

In [ ]:
# Create a mask to filter out rows where any of the columns have negative values
mask = (purchases_df['ord_no'] >= 0) & (purchases_df['purch_amt'] >= 0) & (purchases_df['customer_id'] >= 0) & (purchases_df['sales_id'] >= 0)

# Use the mask to create a new dataframe called filtered_purchases
filtered_purchases = purchases_df[mask]

# Display the filtered dataframe
print(filtered_purchases)

    ord_no  purch_amt  customer_id  sales_id
0    70001     155.98         3002      1002
1    70009      84.98         3001      1001
2    70002     249.98         3003      1003
3    70004     695.98         3002      1002
4    70010      90.98         3001      1001
6    70006     115.98         3003      1003
8    70012     188.98         3004      1004
9    70011     165.98         3003      1003
10   70013     175.98         3001      1001
11   70003      45.98         3004      1004
12   70008     109.98         3001      1001