**Import the necessary liibraries**

In [1]:
import numpy as np
import pandas as pd

**I'll create my data then use it as exemple to apply some techniques of data cleaning**

In [13]:
data = {'bacon': 'pig', 'eggs': 'chicken', 'milk': 'cow', 'chicken': 'chicken', 'beef': 'cow', 'turkey': 'turkey', 'pork': 'pig'}

In [14]:
food_animal_df = pd.DataFrame(list(data.items()), columns=['food', 'animal'])

**Print the dataframe**

In [15]:
print(food_animal_df)

      food   animal
0    bacon      pig
1     eggs  chicken
2     milk      cow
3  chicken  chicken
4     beef      cow
5   turkey   turkey
6     pork      pig

**Now let's try to add a column to our df**

In [24]:
# Add a new column called "weight" with none values
food_animal_df = food_animal_df.assign(weight=None)

# Now display the df with the new column but it's not populated ðŸ˜¥

print(food_animal_df)

# How to drop a column/ligne
# axis=0 means to drop rows and axis=1 means to drop columns.
food_animal_df = food_animal_df.drop('source', axis=1)

      food   animal  source weight
0    bacon     slob    None   None
1     eggs  chicken    bird   None
2     milk      cow  mammal   None
3  chicken  chicken    bird   None
4     beef      cow  mammal   None
5   turkey   turkey    bird   None
6     pork     slob    None   None

In [25]:
print(food_animal_df)

      food   animal weight
0    bacon     slob   None
1     eggs  chicken   None
2     milk      cow   None
3  chicken  chicken   None
4     beef      cow   None
5   turkey   turkey   None
6     pork     slob   None

**Let's populate the column weight that we just added**

In [27]:
food_animal_df['weight'] = ["3.4 kg", "3.6 kg", "4,5 kg", "3.4 kg", "3.4 kg", "3.4 kg", "3.4 kg"]
# keep in mind the column has to have the same lines of the lines in the df, otherwise it'll throw an error

In [28]:
print(food_animal_df)

      food   animal  weight
0    bacon     slob  3.4 kg
1     eggs  chicken  3.6 kg
2     milk      cow  4,5 kg
3  chicken  chicken  3.4 kg
4     beef      cow  3.4 kg
5   turkey   turkey  3.4 kg
6     pork     slob  3.4 kg

Let's replace pig in the animal column with *slob*

In [18]:
food_animal_df["animal"] = food_animal_df["animal"].replace("pig", "slob")

In [19]:
print(food_animal_df)

      food   animal
0    bacon     slob
1     eggs  chicken
2     milk      cow
3  chicken  chicken
4     beef      cow
5   turkey   turkey
6     pork     slob