<a href="https://colab.research.google.com/github/Josh-techie/AI-TPs/blob/master/Data_Cleaning/Workshop_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center><h1> <b>Workshop IV : Data Cleaning</b></h1></center>
<center><h3> Big data && AI </h3></center>
<center><h3>26 April 2024</h3></center>

---

# **Exercice I:**



```
# This is formatted as code
```

1. Create the following Dataframe

![q.png]()

First Start of importing the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = {
    'ord': [70001, 70009, 70002, 70011, 70004, 70007, -1, 70008, 70010, 70003, 70012, 70011, 70013, 70009],
    'purch_amt': [150.50, 270.65, 65.26, 75.29, -999.00, 948.50, 2400.60, 5760.00, 1983.43, 2480.40, 250.45, 75.29, 3045.60, 270.65],
    'customer_id': [3005, 3001, 3002, 3003, -1, 3005, 3007, 3002, 3004, 3009, 3008, 3003, 3002, 3001],
    'sales_id': [5002, 5003, 5004, 5005, 5003, 5002, 5001, 5005, -1, 5008, 5004, 5005, 5001, 5003]
}

purchases_df = pd.DataFrame(data)
purchases_df

      ord  purch_amt  customer_id  sales_id
0   70001     150.50         3005      5002
1   70009     270.65         3001      5003
2   70002      65.26         3002      5004
3   70011      75.29         3003      5005
4   70004    -999.00           -1      5003
5   70007     948.50         3005      5002
6      -1    2400.60         3007      5001
7   70008    5760.00         3002      5005
8   70010    1983.43         3004        -1
9   70003    2480.40         3009      5008
10  70012     250.45         3008      5004
11  70011      75.29         3003      5005
12  70013    3045.60         3002      5001
13  70009     270.65         3001      5003

2. Display the number of duplicate lines

In [ ]:
duplicates_lines = purchases_df.duplicated().sum()
duplicates_lines

2

3. Select all rows containing negative values.

**lt() method, which stands for "less than", to compare each element in the DataFrame with 0**

In [ ]:
# purchases_df[purchases_df < 0, any(axis=1)]
purchases_df[purchases_df.lt(0).any(axis=1)]

     ord  purch_amt  customer_id  sales_id
4  70004    -999.00           -1      5003
6     -1    2400.60         3007      5001
8  70010    1983.43         3004        -1

**Or I can use this second method which basically do the same but with condition based **

4. Replace negative values with their absolute values.

In [ ]:
# I need to find the negative values, then use abs method 

# here finding the negative values
mask = (purchases_df['ord'] < 0) | (purchases_df['purch_amt'] < 0) | (purchases_df['customer_id'] < 0) | (purchases_df['sales_id'] < 0)

negative_rows = purchases_df[mask]

negative_rows = negative_rows.abs()

negative_rows

     ord  purch_amt  customer_id  sales_id
4  70004     999.00            1      5003
6      1    2400.60         3007      5001
8  70010    1983.43         3004         1

5. Delete the line of index N 6.

In [ ]:
purchases_df = purchases_df.drop(6)
purchases_df

      ord  purch_amt  customer_id  sales_id
0   70001     150.50         3005      5002
1   70009     270.65         3001      5003
2   70002      65.26         3002      5004
3   70011      75.29         3003      5005
4   70004    -999.00           -1      5003
5   70007     948.50         3005      5002
7   70008    5760.00         3002      5005
8   70010    1983.43         3004        -1
9   70003    2480.40         3009      5008
10  70012     250.45         3008      5004
11  70011      75.29         3003      5005
12  70013    3045.60         3002      5001
13  70009     270.65         3001      5003

6. Divide the values in the ord column into the following intervals:
- 70001 to 70005
- 70006 to 70010
- 70011 to 70015

In [19]:
# Define the intervals for binning
bins = [70000, 70005, 70010, 70015]

# Define the labels for the intervals
labels = ['70001 to 70005', '70006 to 70010', '70011 to 70015']

# Create a new column 'ord_no_interval' based on the intervals
purchases_df['ord_no_interval'] = pd.cut(purchases_df['ord'], bins=bins, labels=labels, include_lowest=True)

purchases_df

      ord  purch_amt  customer_id  sales_id ord_no_interval
0   70001     150.50         3005      5002  70001 to 70005
1   70009     270.65         3001      5003  70006 to 70010
2   70002      65.26         3002      5004  70001 to 70005
3   70011      75.29         3003      5005  70011 to 70015
4   70004    -999.00           -1      5003  70001 to 70005
5   70007     948.50         3005      5002  70006 to 70010
7   70008    5760.00         3002      5005  70006 to 70010
8   70010    1983.43         3004        -1  70006 to 70010
9   70003    2480.40         3009      5008  70001 to 70005
10  70012     250.45         3008      5004  70011 to 70015
11  70011      75.29         3003      5005  70011 to 70015
12  70013    3045.60         3002      5001  70011 to 70015
13  70009     270.65         3001      5003  70006 to 70010

# **Exercice II: (Inconsistent Data Entry)**

1. The first thing we will need to do is to load the libraries and the dataset that we will be using.

In [20]:
#install fuzzywuzzy and python-Levenshtein
!pip install fuzzywuzzy
!pip install python-Levenshtein

Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0
Collecting python-Levenshtein
  Downloading python_Levenshtein-0.25.1-py3-none-any.whl (9.4 kB)
Collecting Levenshtein==0.25.1 (from python-Levenshtein)
  Downloading Levenshtein-0.25.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (177 kB)
      177.4/177.4 kB 7.1 MB/s eta 0:00:00
Collecting rapidfuzz<4.0.0,>=3.8.0 (from Levenshtein==0.25.1->python-Levenshtein)
  Downloading rapidfuzz-3.8.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.4 MB)
      3.4/3.4 MB 19.8 MB/s eta 0:00:00
Installing collected packages: rapidfuzz, Levenshtein, python-Levenshtein
Successfully installed Levenshtein-0.25.1 python-Levenshtein-0.25.1 rapidfuzz-3.8.1

In [34]:
# modules we'll use
import pandas as pd
import numpy as np

# helpful modules
import fuzzywuzzy
from fuzzywuzzy import process
import chardet

from google.colab import drive
drive.mount("/content/drive", force_remount=True)


# read in all our data
professors = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Data-Cleaning/Workshop4/pakistan_intellectual_capital.csv')

# set seed for reproducibility
np.random.seed(0)

Mounted at /content/drive

2. Run the code below to take a look at all the unique values in the "Graduated from" column.

In [35]:
univ = professors["Graduated from"].unique()
univ

array(['Asian Institute of Technology',
       'Balochistan University of Information Technology, Engineering and Management Sciences',
       'University of Balochistan',
       "Sardar Bahadur Khan Women's University",
       'SRH Hochschule Heidelberg',
       'Institute of Business Administration,Karachi', 'DUET,Karachi',
       'University of Turbat', 'University of Vienna',
       'Monash University', 'University of Stirling',
       'Chinese Academy of Sciences', 'University of Innsbruck',
       'Vienna University of Technology', 'University of Paris-Est',
       'The University of Cambridge', 'Harbin Institute of Technology',
       'University of Nice, Sophia Antipolis', 'The University of York',
       'Galile - Universit Paris 13', 'University of Bedfordshire',
       'North Dakota State University', 'Kyungpook National University',
       'The University of Manchester',
       'National University of Sciences and Technology',
       'FAST National University of Computer and Emerging Sciences',
       'Capital University of Science & Technology', 'Gomal University',
       'University of Malaya', 'KTH Royal Institute of Technology',
       'University of Technology',
       'COMSATS Institute of Information Technology',
       'Government College University', 'Mohammad Ali Jinnah University',
       'Shaheed Zulfikar Ali Bhutto Institute of Science and Technology',
       'Blekinge Institute of Technology', 'University of Grenoble',
       'Politecnico di Torino', '\xa0University of Missouri, KC',
       'University of Bonn', 'University of Paris',
       'The University of Leeds', '\xa0University of Windsor',
       '\xa0National University of Sciences and Technology-NIIT',
       'University of Trento', 'Stockholm University',
       'University of New South Wales, Sydney',
       'Kingston University London', 'Griffith University',
       'University of Salford', 'Loughborough University',
       'International Islamic University,Islamabad',
       'University of Central Missouri',
       'Riphah International University', 'University of BedfordShire',
       'University of Illinois', 'University Of Oslo',
       'Nancy 2 University', 'University of Limerick',
       'Ghulam Ishaq Khan Institute of Science and Technology',
       'University Of Waterloo', 'University of Stuttgart',
       'Liverpool John Moores University', 'University Of Caen',
       'Paris Tech University of Eurecom', 'University Of Salford',
       'Lahore University of Management Sciences',
       'Dresden University Of Technology, Dresden\xa0',
       'COMSATS Institute of Information Technology,Vehari',
       'COMSATS Institute of Information Technology,Wah Cantt',
       'TU Berlin',
       'FAST National University of Computer and Emerging Sciences,Islamabad',
       'Tsinghua University', 'The University of Auckland',
       'IQRA University', 'Universiti Teknologi PETRONAS',
       'COMSATS Institute of Information Technology,Islamabad',
       'Razak School of Engineering and Advanced Technology, Universiti Teknologi Malaysia (UTM)',
       'National University of Modern Languages',
       'University of Engineering and Technology',
       'University Institute of Information Technology',
       'University of Arid Agriculture', 'Quaid-i-Azam University',
       'Queen Mary University of London',
       'Pakistan Institute of Engineering and Applied Sciences',
       'Pohang University of Science and Technology',
       'Uppsala University', 'Kyung Hee University',
       'University of Liverpool', 'University of Sunderland',
       'Mid Sweden University', 'Bahria University,Islamabad',
       'Chosun University', 'University of Sussex',
       'Paris Descartes University', 'University of Leicester',
       'University of Porto', 'University of Manchester',
       'Universit Henri Poincar, Nancy 1,', 'Bahria University',
       'Centre for Advanced Studies in Engineering',
       'Norwegian University of Science and Technology (NTNU),',
       'The Islamia University of Bahawalpur ', 'Universiti Technologi',
       'California State University', 'University of Genova',
       'University of Engineering and Technology,Taxila',
       'University of\xa0Liverpool John Moores University', 'Guildford',
       'University of Bradford', 'Graz University of Technology',
       'Huazhong University of Science and Technology (HUST), Wuhan',
       'University of Konstanz',
       'National University of Modern Languages,Islamabad',
       'FAST National University of Computer and Emerging Sciences,Lahore',
       'Gwangju Institute of Science and Technology',
       'University of Birmingham', 'Manchester University',
       'Beijing Institute of Technology', 'University of Paisley',
       'Univ of Porto/Univ of Aveiro Portugal/Uni of Minho',
       'University of Peshawar', 'Universitt Salzburg',
       'Colorado State University', 'University of Virginia',
       'University of Orleans', 'Zhejiang University',
       'University of Leeds', 'Foundation University',
       'Barani Institute of Information Technology', 'Abasyn University',
       'Pir Mehr Ali Shah Arid Agriculture University', 'Preston',
       'University of Bergen', 'Universtiy of Lahore',
       'HITEC University,Taxila', 'Allama Iqbal Open University',
       'University of Wales,Aberystwyth', '\xa0University of Bonn',
       '\xa0Hongik University',
       'Skolkovo Institute of Science and Technology,\xa0',
       'Agricultural University Peshawar', 'National Textile University',
       'FAST National University of Computer and Emerging Sciences,Chiniot-Faisalabad',
       'FAST National University of Computer and Emerging Sciences,Peshawar',
       '\xa0Boston University', 'Brunel University',
       'George Washington University', 'University of the Punjab',
       '\xa0University of Bedfordshire',
       'University Of Southern California', 'Beihang University',
       'Institute of Business Administration',
       'Abdus Salam School of Mathematical Sciences,GC University',
       'Linkping University',
       'National College of Business Administration and Economics',
       'bo Akademi University,', 'University of Central Punjab',
       'University of Ulm', 'University of Agriculture',
       'University of Notre Dame Indiana\xa0',
       'Punjab University College of Information Technology',
       'Ilmenau University of Technology', ' Iowa State University',
       ' University of Innsbruck', 'Vrije University, Amsterdam',
       ' Columbia University', 'University of Freiburg',
       ' Delft University of Technology',
       ' University of Texas at Arlington (UTA)', ' University of Turin',
       ' University of Central Florida', 'Saarland University',
       'University of Central Florida', 'Oxford Brookes University',
       'Information Technology University (ITU)',
       'University of Canterbury', 'University of Patras',
       'Middle East Technical University', 'University of Bristol',
       'University of Southern California',
       'Northeastern University,Boston', 'Purdue University',
       'University of Plymouth', 'University of South Australia',
       'Stanford University', 'Chalmers University of Technology',
       'Massachusetts Institute of Technology',
       'Sapienza University of Rome',
       'Eindhoven University of Technology (TU/e)',
       'United Nations University International Institute for Software Technology (UNU-IIST)',
       'Georgetown University,DC', 'RWTH Aachen University',
       'Columbia University',
       'Rutgers State University of New Jersey, NJ',
       'University of Florida', 'Technical University of Braunschweig',
       'Carnegie Mellon University, Pittsburgh',
       'The Ohio State University', 'National University of Singapore',
       'University of British Columbia', 'University of Pittsburgh',
       'The State University of New Jersey',
       'The University of Texas at Austin',
       'Imperial College, University of London',
       'University of Colorado\xa0', 'University of Bath',
       'Tilburg University', 'Pompeu Fabra University Barcelona',
       'University of Management and Technology',
       'COMSATS Institute of Information Technology,Lahore',
       'University of Agriculture, Faisalabad\xa0',
       'University of Engineering & Technology',
       'University of Agriculture, Faisalabad',
       'Fatima Jinnah Women University, Rawalpindi',
       'Kohat University of Science & Technology, Kohat',
       'Virtual University of Pakistan', 'Bahauddin Zakariya University',
       'University of the Punjab,Gujranwala',
       'Lahore College for Women University',
       'Superior University, Lahore',
       'Shaheed Zulfikar Ali Bhutto Institute of Science and Technology,Islamabad',
       'University of South Florida', 'Politecnico di Milano',
       'Abdul Wali Khan University, Mardan', 'University of Lahore',
       'Minhaj University Lahore', 'Lahore Leads University',
       'Middlesex University', 'Beijing Institute of Technology Beijing',
       'Beaconhouse National University', 'Hamdard University',
       'University Paris', 'Sindh University',
       'NED University of Engineering And Technology',
       'Staffordshire University', 'DePaul University, Chicago',
       'University of Kent',
       'Mehran University of Engineering & Technology',
       'Quaid-e-Awam University of Engineering, Science & Technology',
       'Shah Abdul Latif University, Khairpur',
       'Sindh Agriculture University', 'Swansea',
       'University of Shanghai for Science and Technology',
       'Griffith University,Nathan Campus', 'University of Essex',
       'Xiamen university', 'Wayne State University',
       'The Queens University of Belfast', 'Sungkyunkwan University',
       'Nanyang Tech University', "Universite d'Evry Val d'Essonne",
       'Sir Syed University of Engineering and Technology',
       'New York Institute of Technology', 'Fedral Urdu University',
       'ISRA University', 'University of Karachi',
       'South Asian University',
       'Capital University of Science and Technology',
       'University of Manchester Institute of Science and Technology',
       'The University of Birmingham',
       'Max Planck Institute for Computer Science',
       'George Mason University', 'University of Southampton',
       'Temple University', 'University of Bayreuth',
       'Muroran Institute of Technology,Hokkaido',
       'University of Bologna', 'International Islamic University',
       'PAF-Karachi Institute of Economics and Technology',
       'Institute of Business Administration,Sukkur',
       'Myongji University', 'State University of New York System',
       'SSindh Agriculture University', 'London University',
       'Universiti Putra Malaysia Putra',
       'University of Rome Tor Vergata', 'University of Mississippi\xa0',
       'University of Wales', 'University of Northampton',
       'University of Abertay Dundee',
       'Biztek Institute Of Business & Technology,Karachi',
       'University of Surrey', 'Jinnah University for Women',
       '\xa0Nanyang Technological University',
       'Tokyo Institute of Technology', 'NCSU',
       'Usman Institute of Technology', 'Hanyang University, Ansan',
       'BUKC', 'Universtiy of Karachi', 'Pace University, New York',
       'INSA de Lyon, Rhone', 'University of Dundee',
       'Illinois Institute of Technology',
       'City University of Science and Technology',
       'Usman Institute of Technology (Hamdard University)',
       'University of Malaga', 'Manchester Metropolitan University',
       'Kyushu University,Fukuoka',
       'King Abdullah University of Science and Technology',
       'INRIA Saclay Ile-de-France', 'Universit de la Rochelle',
       'University of South Brittany', 'Aston University, Birmingham',
       'University of Agriculture Faisalabad',
       'Hamburg University of Technology',
       'Government College University, Faisalabad', 'JKU',
       'University of Oviedo',
       'Beijing University of Posts & Telecommunications',
       'Government College University,Faisalabad',
       'Nottingham Trent University', 'University of Glasgow',
       'Coventry University',
       'Riphah International University,Faisalabad',
       'Australian National University, Caneberra',
       'Swedish University of Agricultural Sciences, Uppsala',
       'University of Gujrat', 'IQRA University,Islamabad',
       'Jonkoping University', 'Colorado Technical University',
       'Cranfield University', 'Technical University of Graz',
       'University of York', 'Brock University Canada',
       'University of Westminster', 'University of Saarland',
       'The University of Queensland', 'University of Rochester',
       'Islamia College University ',
       'IBMS KP Agricultural University Peshawar',
       'University of Kuala Lumpur', 'University of Regina', 'TU Wien',
       'Swinburne University Of Technology',
       'Institute Of Managment Sciences, Peshawar',
       'Universiti Tun Hussein Onn Malaysia',
       'Institute of Management Sciences, Peshawar',
       'University of Huddersfield',
       'University of Engineering and Technology,Peshawar',
       'IQRA University,Karachi', 'John Moorse University, Liverpool',
       'CECOS University of Information Technology and Emerging Sciences,Peshawar',
       'University of the West Scotland', 'Concordia University,Montreal',
       'JNU', 'Grenoble', 'Florida Atlantic University',
       'Seoul National University'], dtype=object)

3. Do you notice any inconsistencies in the data?
Can these inconsistencies be corrected by removing the whitespace at the beginning and end of the cells?


  * Provide an example.

Yes, the presence of whitespace at the beginning or end of cells can lead to inconsistencies in the data, especially when comparing or grouping strings.

*Example*:
  - Cell 1: 'University of Leeds'
  - Cell 2: 'University of Leeds '

To correct these inconsistencies by removing the whitespace at the beginning and end of the cells, you can use the strip() method in Python.

4. Let's now focus on cleaning up inconsistencies in the "Country" column. Display the list of unique values in this column.

In [36]:
country = professors["Country"].unique()
# display the unique country in the db
country

array(['Thailand', 'Pakistan', 'germany', 'Austria', 'Australia', 'UK',
       'China', 'France', 'USofA', 'SouthKorea', 'Malaysia', 'Sweden',
       'Italy', 'Canada', 'Norway', 'Ireland', 'New Zealand', 'Urbana',
       'Portugal', 'Russian Federation', 'USA', 'Finland', ' USA',
       'Netherland', ' Germany', ' Sweden', ' New Zealand', 'Greece',
       'Turkey', 'South Korea', 'Macau', 'Singapore', 'Spain', 'Japan',
       'HongKong', 'Saudi Arabia', 'Mauritius', 'Scotland'], dtype=object)

5. Jetez un autre coup d'il  la colonne "Country" et voyez s'il y a des nettoyages de donnes que nous devons faire. Il semble que 'usa' et 'usofa' devraient tre le mme pays. la meme chose pour 'southkorea' et 'south korea'  Corrigez la colonne "Country" dans le dataframe pour remplacer "usofa" par "usa" et 'southkorea' par 'south korea'.
  * obtenir une liste de chanes uniques dans la colonne.
  * obtenir les 10 correspondances les plus proches de notre chane d'entre
  * selectioner seulement les matchs avec un ratio> 70
  * remplacer toutes les lignes par des correspondances proches

In [42]:
# List of coutries to correct
corrections = {'usofa': 'usa', 'southkorea': 'south korea'}

# Replace the values in the3 column "Country"
professors['Country'] = professors['Country'].replace(corrections)

# Get the 10 close correspondances to our input string
input_string = 'usa'
matches = process.extract(input_string, country, limit=10)

# Select only the matches with ratio > 70
close_matches = [match[0] for match in matches if match[1] > 70]

# Remplacer toutes les lignes par des correspondances proches
professors['Country'] = professors['Country'].apply(lambda x: process.extractOne(x, close_matches)[0])